body{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 100%); 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

table{
    width: 100%;
    border-collapse: collapse;
}



table th{
    border-bottom: 2px solid whitesmoke;
}


.contenedor-global{
    background-image: url(imagenes/wallpaperbetter.com_1920x1080\(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    position:relative;
    height: 366px;
}

.texto-global{
    position: absolute;
    bottom: 10px;
    left: 100px;
}
.texto-global h1{
    font-size: 35px;
    font-style: italic;
    color: whitesmoke;
    text-shadow: rgb(0, 0, 0) 10px;
}


.cancion:hover{
    background-color: rgb(155, 155, 155);
}

.texto-mg{
    position:absolute;
    bottom: 10px;
    left: 300px;
}
.texto-mg h2{
    font-size: 15px;
    color: rgb(204, 204, 204);
    width: 300px;
}

.centrado{
    text-align: center;
}
.alineacion-imagen{
    float: center;
    width: 20px;
    height: 20px;
}

.portada img{
    width: 3em;
    height: 3em;
    
}

a{
    color: white;
}

#letra div{
    float: left;
    margin: 50px;
}

#foto-stay{
    margin: 100px;

}
.stay-lyrics{
    margin: 50px;
}

#titulo-cancion{
    margin: 20px 50px;
}
#subtitulo-cancion{
    margin: 0px 50px;
}

#back-top10{
    margin: 50px 50px;
    color: rgb(13, 139, 211);
}

.alineacion-cet30{
    float: center;

}